@page "/mvvmdata"
@using TD1BlazorApp.ViewModels
@inject ProduitViewModel ViewModel

<PageTitle>Fetch MVVM Produits</PageTitle>

<h1>Visualisation des produits (mode MVVM)</h1>

<p>This component demonstrates fetching mvvm data from a service.</p>

@if (ViewModel.IsLoading)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Type de Produit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in ViewModel.Produits)
            {
                <tr>
                    <td>@produit.IdProduit</td>
                    <td>@produit.NomProduit</td>
                    <td>@produit.NomMarque</td>
                    <td>@produit.NomTypeProduit</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.GetDataOnLoadAsync();
    }
}

