@page "/fetchdata"
@inject IService<Produit> produitService

<PageTitle>Fetch Produits</PageTitle>

<h1>Visualisation des produits</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (produits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Marque</th>
                <th>Type de Produit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in produits)
            {
                <tr>
                    <td>@produit.NomProduit</td>
                    <td>@produit.Description</td>
                    <td>@produit.IdMarque</td>
                    <td>@produit.IdTypeProduit</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private IList<Produit> produits = new List<Produit>();

    protected override async Task OnInitializedAsync()
    {
        produits = await produitService.GetItemsAsync();
    }

    /*public async Task<Produit[]> GetProduitsAsync()
    {
        return await http.GetFromJsonAsync<Produit[]>("produits") ?? [];
    }*/

}
